body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: dimgray;
}

h1{
    color: crimson;
    font-size: 50px;
}

h4{
    font-size: 40px;
    color: #000;
}

img{
    width: 50%;
    height: 100%;
}
.half-part{
    width: 30%;
    float: left;
    margin: 100px;
    padding: 30px;
    
}

.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    height: 500px;
}


a{
    text-decoration: none;
    width: 200px;
    height: 80px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.button{
    margin-top: 50px;
}

.profile2 {
    margin-top: 0px;
    width: 100%;
    height: 380px;
}

.bio{
    margin-top: 150px ;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    height: 650px;
}
.second-part{
    width: 30%;
    float: left;
    margin: 100px;
    padding: 30px;
  
}

.pic-details{
    position: absolute;
}

.latest-work{
    margin-top: 150px;
    margin-left: 100px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 300px;
}

.center-heading{
    text-align: center;
    font-size: 30px;
    color: #000;
}

.latest-img{
    width: 30%;
}

.client{
    margin-top: 250px;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    height: 935px;
    color: #000;
}

.client-name{
   
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    color: crimson;
}
.client-title{
    text-align: center;
    font-size: 18px;
    color: olive;
}
.saying{
    font-size: 15px;
   font-weight: normal;
}

.message-box{
    width: 60%;
    height: 150px;
    background-image: linear-gradient(180deg, crimson, salmon);
    margin-top: 200px;
    margin-left: 20%;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 7px salmon;
}

.leave-message{
    color: gainsboro;
    font-size: 20px;
}

.e-mail{
    color: gainsboro;
    font-size: 35px;
}

.form{
    margin-top: 150px;
}

.input-field{
    border-radius: 10px;
    width: 400px;
    height: 50px;
    padding: 12px;
    font-size: 30px;
    border-style: 2px solid dimgrey;
}

.subscribe {
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border-style: none;
    display: block;
    margin: auto;
    margin-top: 70px;
    background-image: linear-gradient(180deg, crimson, salmon);
    color: white;
    font-size: 25px;
    padding: 0px;
    padding-top: 7px;
    box-shadow: 10px 10px 40px black;
}

.subscribe:hover{
   height: 55px;
   width: 190px;
   padding-top: 20px;
}


footer{
    margin-top: 30px;
    padding-bottom: 10px;
}

footer p{
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin-top: 90px;
}